<h1>Submit a New Paper</h1>

<form action="/newspapers" method="post" accept-charset="utf-8">

  <label>Title
    <input type="text" name="newspaper[title]" id="newspaper[title]">
  </label>

  <label>Editor
    <input type="text" name="newspaper[editor]" id="newspaper_editor">
  </label>

  <h2>Subscription Plans</h2>

  <% @newspaper.subscription_plans.each do |plan| %>

  <label>Price
    <input type="decimal" name="subscription_plans[<%= plan.object_id %>][price]" id="subscription_plan_price">
  </label>

    <input type="radio" name="subscription_plans[<%= plan.object_id %>][weekly]" value="true" id="subscription_plan_weekly">Weekly

    <input type="radio" name="subscription_plans[<%= plan.object_id %>][weekly]" value="false">Daily

    <br>

  <% end %>

  <p><input type="submit" value="Create a Newspaper"></p>

</form>