<h1><%= @newspaper.title.capitalize %></h1>

<h2>Subscription Plans</h2>

  <% SubscriptionPlan.where("newspaper_id = #{@newspaper.id}").all.each do |paper| %>

  <h3>Format: <%= paper.weekly == true ? "Weekly" : "Daily" %></h3>
  <h3>Price: <%= paper.price %></h3>


  <br>

  <% end %>

